/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*BASE*/
* {
  margin: 0;
}
body {
  background-color: #E2E1E1;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

/*NAVBAR*/
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 13px 15px 12px 22px;
  background: #165996;
}

.navbar__item {
  width: fit-content;
  display: flex;
}

.navbar__link {
  margin-right: 38px;
  color: #FFFEFE;
  text-decoration: none;
}

.navbar__btn {
  display: block;
  width: 78px;
  height: 27px;
  margin-left: 28px;
}


/*AUTH VIEW*/
.auth-wrapper {
  position: absolute;
  top: 171px;
  left: 49px;
  width: 344px;
  height: 245px;
  padding: 57px 108px 22px 38px;
  background-color: #D9D9D9;
}

/*ADD ORDER*/
.add-order__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 165px;
  margin-left: 36px;
}

.add-order__header {
  margin-top: 31px;
  margin-bottom: 33px;
}

.add-order__form {
  display: flex;
  flex-direction: column;
}

.add-order__buttons {
  display: block;
  margin: 0 auto;
  width: 115px;
  height: 25px;
  background: #D9D9D9;
  border: none;
}


/*INPUT*/
.inputs {
  width: 180px;
  height: 34px;
  padding: 11px 107px 8px 17px;
  background-color: #FFFEFE;
  margin-bottom: 32px;
  border: none;
}

.inputs::placeholder {
  color: #000000;
}

/*BUTTONS*/
.buttons {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 104px;
  height: 29px;
  padding: 5px 34px 9px 34px;
  border: none;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/*POPUP*/
.popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  background-color: dimgrey;
  opacity: 0.7;
}

.popup {
  width: 335px;
  height: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.popup__btns {
  display: flex;
}

/*ORDERS TABLE*/
table {
  width: 300px;
  border-collapse: collapse;
}
td, th {
  padding: 15px;
  border: 1px solid black;
}

.orders__table {
  margin: 75px auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background-color: #D9D9D9;
}

.table-header {

}

.table__row {
  position: relative;
}

.table-btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
  display: flex;
}

.btn {
  width: 18px;
  height: 17px;
  display: block;
  margin-right: 8px;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-delete {
  background-image: url("../public/icons/close-icon.png");
}

.btn-done {
  background-image: url("../public/icons/done-icon.png");
}