/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*BASE*/
body {
  background-color: #E2E1E1;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

/*AUTH VIEW*/
.auth-wrapper {
  position: absolute;
  top: 171px;
  left: 49px;
  width: 344px;
  height: 245px;
  padding: 57px 108px 22px 38px;
  background-color: #D9D9D9;
}

/*INPUT*/
.inputs {
  width: 180px;
  height: 34px;
  padding: 11px 107px 8px 17px;
  background-color: #FFFEFE;
  margin-bottom: 32px;
  border: none;
}

.inputs::placeholder {
  color: #000000;
}

/*BUTTONS*/
.buttons {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 104px;
  height: 29px;
  padding: 5px 34px 9px 34px;
  border: none;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}